/* Gold Color Scheme with Horizontal Navigation Bar */
html {
  font-family: "Oswald"; 
  margin: 1em 20%;
  background-color: #FFFFFF;
  overflow-x: hidden;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}
#brand {
  float: left;
  font-size: 2em;
  margin: 0;
  padding: .6em;
  text-decoration: none;
  color: #333;
  transition: .5s all;
}
#brand:hover {
  color: #FFFFFF;
  background-color: #333;
}
.home_nav {
  float: right;
  margin-right: 1em;
  margin-bottom: 100em;
}
.home_nav ul {
  list-style-type: none;
  margin: 0;
  padding: 2.2em 2em;
}
.home_nav ul li {
  display: inline;
  padding: 0 .4em;
  margin-right: 3em;
}
.home_nav ul li a {
  color: #333;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1em;
  padding-bottom: .5em;
  transition: .5s color;
}
.home_nav ul li a:hover {
  border-bottom: 3px solid #333;
  color: DodgerBlue;
  text-shadow: .01em .01em .03em navy;
}
#navbar_bottom_gap{
  width: 100%;
  height: 2em;
}
.blurb{
	text-align: center;
}
.homepage{
	width: 100%
	height: 100%;
	text-align: center;
	padding: 12.5%
}

#dev{
	width: 45%; 
	height: 50%; 
	float: left;
	padding-left: 25px;
	margin: 5px;
	border: solid;
	border-width: 1px;
	border-radius: 10px;
	box-shadow: 2px 2px 2px black;
}
#dev ul{
	height: 50px;
	display: block;
}
#dev li{
	padding-bottom: 5px;
}

.quotation{
	font-size: 25px;
	text-align: center;
	//margin: 0 auto;
	quotes: "\201C""\201D""\2018""\2019";
	padding: 10px 20px;
	line-height: 1.4;
}

.quotation:before {
	content: open-quote;
	display: inline;
	height: 0;
	line-height: 0;
	left: -10px;
	position: relative;
	top: 25px;
	color: #ccc;
	font-size: 3em;
}
.quotation::after {
	content: close-quote;
	display: inline;
	height: 0;
	line-height:0;
	left: 15px;
	position: relative;
	top: 25px;
	color: #ccc;
	font-size: 3em;
}
.page_content{
  margin-top: 5em;
}
.page_header{
  text-align:center;
  font-size: 2em;
}

#page_gap{
  height: .05em;
  margin-top: -1em;
  width: 20em;
}