html {
	font-family: "Oswald"; 
	background-color: #FFFFFF;
	word-wrap: normal;
}

header {
 	position: fixed;
	background: white;
	width: 100%;
	top: 0;
	left: 0;
}
nav{
	text-align: center;
	position: static;
}

	nav ul li {
		border-radius: 4px;
		display: inline-block;
		padding: 1em;
	}
		nav ul li:hover{
			text-decoration: none;
			text-transform: uppercase;
			background: white;
			color:black;
			border: solid .2em Gainsboro;
		}
			nav ul li a {
				color: #333;
				text-decoration: none;
				text-transform: uppercase;
				font-size: 1em;	
				display: inline-block;     
				position: relative;
				z-index: 1;
				margin:-2em;
				padding: 2em;
			}

.page_content{
	padding: 5em 2em 0em 2em;
}
	.page_header{
		text-align:center;
		font-size: 2em;
	}
	.blurb{
		text-align: center;
		padding: 0em 16em 0em 16em;
	}
	.footer{
		margin-top: 1em;
	}
	#page_gap{
		height: .05em;
		margin-top: -1em;
		width: 20em;
	}
.feedback{
	width: 50%;
	margin: auto;
	margin-top: 1em;
	box-shadow: 0em 0em .3em -.2em;
	padding: .25em 0em 1em 1em;
	float: center;
	color: black;
}
	.feedback h3{
		text-align: center;
	}
	.submit{
		margin-top: 5px;
		box-shadow: 1px 1px 2px 0px;
		border-radius: 1px;
		width: 20%;
	}

table{
	border-collapse: seperate;
}
	.resumeHeader{
		font-size: 24px;
		padding-top: 2em;
		text-decoration: underline;
		text-decoration-color: grey;
		white-space: nowrap;
	}
	.right{
		padding-left: 10px;
		border-left: .5px dashed black;
	}

	.role{
		border-collapse: seperate;
		font-size: 18px;
		padding-top: 50px;
	}
	.hiddenList{
		list-style-type:none;
		text-align: left;
		padding-left: 10px;
		white-space:nowrap
	}
	.hidden{
		color: white;
	}
	.roleDescription{
		font-size: 16px;
	}
